<section id="description">
  <!--Description container-->
  <div
    class="container flex flex-col max-w-6xl mx-auto my-32 px-6 text-gray-900 md:flex-row md:px-0">
    <h1 class="text-xxl">
      Kwux is a source-available Application Model and Management Platform
    </h1>
  </div>

  <div class="">
    helping technical teams use the right tool for the job in all of their environments, no matter which cloud or
    orchestration platform you choose.
  </div>

  <div data-controller="code-highlight" class="leading-relaxed text-xl">

    <div>
          <pre><code>
  # git repository branch: single-resource/multiple-instances

  # variables.tf
  variable "count_of_items" {
    description = "The number of items to create."
    type        = number
    default     = "3"
  }
          </code></pre>
    </div>

  </div>
</section>